{% extends request.user.is_authenticated|yesno:'loged_in_base.html,base.html' %}
{% block content %}
    <div class="d-flex justify-content-center">
    <form method="post" class="text-justify text-center border border-light p-5" action="#!">


        <p class="h4 mb-4">Sign up</p>
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign up</button>

        <!-- Register -->
        <p>Already a member ?
            <a href="/login/">Login</a>
        </p>
    </form>
</div>
{% endblock %}