{% extends request.user.is_authenticated|yesno:'loged_in_base.html,base.html' %}


{% block content %}
    <!--Main layout-->
    <main>

            <!--/.Carousel Wrapper-->
                <!--Carousel Wrapper-->
    <div class="row d-flex justify-content-center">
<!--/.Carousel Wrapper-->

        <div class="container">
            <!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
              <!--Indicators-->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
              </ol>
              <!--/.Indicators-->
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
                      alt="First slide">
                    <div class="mask rgba-black-light"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive">Light mask</h3>
                    <p>First text</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <!--Mask color-->
                  <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                      alt="Second slide">
                    <div class="mask rgba-black-strong"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive">Strong mask</h3>
                    <p>Secondary text</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <!--Mask color-->
                  <div class="view">
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                      alt="Third slide">
                    <div class="mask rgba-black-slight"></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive">Slight mask</h3>
                    <p>Third text</p>
                  </div>
                </div>
              </div>
              <!--/.Slides-->
              <!--Controls-->
              <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <!--/.Controls-->
            </div>
            <hr>
<!--            &lt;!&ndash;Navbar&ndash;&gt;-->
<!--            <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">-->

<!--                &lt;!&ndash; Navbar brand &ndash;&gt;-->
<!--                <span class="navbar-brand">Categories:</span>-->

<!--                &lt;!&ndash; Collapse button &ndash;&gt;-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"-->
<!--                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="navbar-toggler-icon"></span>-->
<!--                </button>-->

<!--                &lt;!&ndash; Collapsible content &ndash;&gt;-->
<!--                <div class="collapse navbar-collapse" id="basicExampleNav">-->

<!--                    &lt;!&ndash; Links &ndash;&gt;-->
<!--                    <ul class="navbar-nav mr-auto">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">All</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Shirts</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Sport wears</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Outwears</a>-->
<!--                        </li>-->

<!--                    </ul>-->
<!--                    &lt;!&ndash; Links &ndash;&gt;-->

<!--                    <form class="form-inline">-->
<!--                        <div class="md-form my-0">-->
<!--                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--                &lt;!&ndash; Collapsible content &ndash;&gt;-->

<!--            </nav>-->
            <!--/.Navbar-->

            <!--Section: Products v.3-->
            <section class="text-center mb-4">

                <!--Grid row-->
                <div class="row wow fadeIn">
                    {% for item in items %}

                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4">

                            <!--Card-->
                            <div class="card" >

                                <!--Card image-->
                                <div class="view overlay">

                                    <img src="{{ item.image }}" class="card-img-top"
                                         alt="">
                                    <a href="/objects/{{ item.item_id }}">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <!--Card image-->

                                <!--Card content-->
                                <div class="card-body text-center" style="height: 200px">
                                    <!--Category & Title-->
                                    <a href="/objects/{{ item.item_id }}" class="grey-text">
                                        <h5>{{ item.platform }}</h5>
                                    </a>
                                    <h5>
                                        <strong>
                                            <a href="/objects/{{ item.item_id }}" class="dark-grey-text">{{ item.title }}
                                                {% if item.age_rating < 12 %}
                                                    <span class="badge badge-pill green">{{ item.age_rating }}</span>
                                                {% elif item.age_rating > 16 %}
                                                    <span class="badge badge-pill danger-color">{{ item.age_rating }}</span>
                                                {% else %}
                                                    <span class="badge badge-pill orange">{{ item.age_rating }}</span>
                                                {% endif %}
                                            </a>
                                        </strong>
                                    </h5>

                                    <h4 class="font-weight-bold blue-text">
                                        <strong>{{ item.price }} PLN</strong>
                                    </h4>

                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->
                        </div>
                        <!--Grid column-->
                    {% endfor %}
                </div>
                {% if items.has_other_pages %}
                <div class="row d-flex justify-content-center">
                    <nav>
                      <ul class="pagination pg-darkgrey">
                        {% if items.has_previous %}
                          <li class="page-item"><a class="page-link" aria-label="Previous" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                        {% endif %}
                        {% for i in items.paginator.page_range %}
                          {% if items.number == i %}
                            <li class="page-item active"><a class="page-link">{{ i }} </a></li>
                          {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if items.has_next %}
                          <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{ items.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                        {% endif %}
                      </ul>
                    </nav>
                </div>
                {% endif %}

                <!--Grid row-->
            </section>
            <!--Section: Products v.3-->
        </div>
    </div>
    </main>
    <!--Main layout-->
{% endblock content %}