{% extends 'base.html' %}
{% block content %}
<div class="row d-flex justify-content-center">
<div class="card card-cascade narrower mb-4">

                  <!-- Card image -->
                  <div class="view view-cascade overlay">
                    <img class="card-img-top" src="https://thumbs.gfycat.com/DearestFantasticAtlasmoth-size_restricted.gif" alt="Card image cap">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>

                  <!-- Card content -->
                  <div class="card-body card-body-cascade">

                    <!-- Label -->
                    <h5 class="text-center text-primary pb-2 pt-1">Gratulujemy</h5>
                    <!-- Title -->
                    <h4 class="text-center card-title">Wylogowałeś się poprawnie !</h4>
                    <!-- Text -->
                    <p class="card-text">Możesz utworzyć nowe konto, zalogować się ponownie, bądź sprawdzić naszą stronę główną.</p>
                    <!-- Button -->
                      <div class="row d-flex justify-content-center">
                      <a class="btn w-50 btn-primary" href="/login/">Logowanie</a>
                      <a class="btn w-50 btn-primary" href="/register/">Utworzenie konta</a>
                      <a class="btn w-50 btn-primary" href="/items/">Strona Główna</a>
                      </div>

                  </div>

                </div>
</div>
{% endblock %}