<!DOCTYPE html>
{% extends request.user.is_authenticated|yesno:'loged_in_base.html,base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="row d-flex justify-content-center">
    <!--/.Carousel Wrapper-->
         <div class="container my-5 py-5 z-depth-1">


            <!--Section: Content-->
            <section class="text-center px-md-5 mx-md-5 dark-grey-text">

              <!--Grid row-->
              <div class="row d-flex justify-content-center">

                <!--Grid column-->
                <div class="col-lg-7">
                    <div class="row d-flex justify-content-center">
                        <H1>Nazwa użytkownika : {{ user.get_username }}</H1>
                        <H2>Email użytkownika : {{ user.email }}</H2>
                        <H2>Użytkownik dołączył : {{ user.date_joined }}</H2>
                    </div>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->
            </section>
            <!--Section: Content-->
         </div>
        <div class="container">

        <hr>
    <!--Section: Products v.3-->
                <section class="text-center mb-4">

                    <!--Grid row-->
                    <div class="row wow fadeIn">
                        {% for item in items %}

                            <!--Grid column-->
                            <div class="col-lg-3 col-md-6 mb-4">

                                <!--Card-->
                                <div class="card" >

                                    <!--Card image-->
                                    <div class="view overlay">

                                        <img src="{{ item.image }}" class="card-img-top"
                                             alt="">
                                        <a href="/objects/{{ item.item_id }}">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->

                                    <!--Card content-->
                                    <div class="card-body text-center" style="height: 200px">
                                        <!--Category & Title-->
                                        <a href="/objects/{{ item.item_id }}" class="grey-text">
                                            <h5>{{ item.platform }}</h5>
                                        </a>
                                        <h5>
                                            <strong>
                                                <a href="/objects/{{ item.item_id }}" class="dark-grey-text">{{ item.title }}
                                                    {% if item.age_rating < 12 %}
                                                        <span class="badge badge-pill green">{{ item.age_rating }}</span>
                                                    {% elif item.age_rating > 16 %}
                                                        <span class="badge badge-pill danger-color">{{ item.age_rating }}</span>
                                                    {% else %}
                                                        <span class="badge badge-pill orange">{{ item.age_rating }}</span>
                                                    {% endif %}
                                                </a>
                                            </strong>
                                        </h5>

                                        <h4 class="font-weight-bold blue-text">
                                            <strong>{{ item.price }} PLN</strong>
                                        </h4>

                                    </div>
                                    <!--Card content-->

                                </div>
                                <!--Card-->
                            </div>
                            <!--Grid column-->
                        {% endfor %}
                    </div>
                    {% if items.has_other_pages %}
                    <div class="row d-flex justify-content-center">
                        <nav>
                          <ul class="pagination pg-darkgrey">
                            {% if items.has_previous %}
                              <li class="page-item"><a class="page-link" aria-label="Previous" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                              <li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                            {% endif %}
                            {% for i in items.paginator.page_range %}
                              {% if items.number == i %}
                                <li class="page-item active"><a class="page-link">{{ i }} </a></li>
                              {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if items.has_next %}
                              <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{ items.next_page_number }}">&raquo;</a></li>
                            {% else %}
                              <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                            {% endif %}
                          </ul>
                        </nav>
                    </div>
                    {% endif %}

                    <!--Grid row-->
                </section>
            </div>
    </div>
    {% else %}
        <div class="row d-flex justify-content-center">

            <div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">

              <!-- Change class .modal-sm to change the size of the modal -->
              <div class="modal-dialog modal-sm" role="document">


                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Nie jesteś zalogowany!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Zaloguj się i spróbuj ponownie.
                  </div>
                  <div class="modal-footer">
                    <a type="button" class="btn btn-secondary btn-sm" href="/items/">Zamknij</a>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
                $(window).on('load',function(){
                    $('#centralModalSm').modal('show');
                });
            </script>
            <script>
                $(document).ready(function () {
                    // Handler for .ready() called.
                    window.setTimeout(function () {
                        location.href = "/items/";
                    }, 5000);
                });
            </script>
        </div>
        </div>
    {% endif %}
            <!--Section: Products v.3-->
{% endblock %}
